<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand ms-3" href=" {{path("home")}} ">E-Boutique</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if is_granted("ROLE_USER") %}
      <li class="nav-item">
        <a class="nav-link " href="{{ path("admin_gestion") }}"><i class="fa fa-user"></i> {{ app.user.userIdentifier }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {{ path("espace")}} "> Espace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path("app_logout")}}"><i class="fa fa-sign-out-alt"></i> Deconnexion</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path("app_register")}}"><i class="fa fa-sign-in-alt"></i> Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path("app_login")}}"><i class="fa fa-sign-in-alt"></i> Connexion</a>
      </li>
    
      {% endif %}
     
      <li class="nav-item">
        <a href=" {{path("panier")}} " class="nav-link">Panier <i class="fa fa-shopping-cart"></i></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action=" {{ path("recherche") }} ">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" name="mot">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>
